# Data Science Tools and Ecosystem

## Author:
Erin Keough

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages that data scientists use
* List commonly used data science libraries
* List some data science development environments
* Evaluate simple arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. C++
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. NumPy
3. Pandas
4. Lattice
5. ggplot2
6. TensorFlow

Data Science Tools Table:

| Data Science Tools |
| ----- |
| JupyterLab |
| Watson Studio |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335